.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.custom-link {
  text-decoration: none;
  color: inherit;
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}

.custom-button:focus {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
